body {
  font-size: 100%;
  margin: 0;
  background-color: #eee;
}

h1 {
  background-color: hsla(50, 100%, 50%, .5);
  border-top-style: dashed;
  border: double #000 25px;
  border-radius: 25px;
  /* font-family: Arial; */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2.5em;  /* 40px / 16 **/
  text-align: center;
  color:chocolate;
  /* text-shadow: 2px 2px 2px black; */
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

/* .girl {
  border: 10px ;
  border-radius: 50%;
} */

/* .cody {
  position: relative;
  border-radius: 50px;
}

.golang {
  border: double 10px red;
  border-radius: 50%;
} */

div.polaroid {
  position: relative;
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-bottom: 25px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  display: block;
  /* transition: transform 2s; */
  /* transition-delay: 2s; */
}

.polaroid img {
  /* opacity: .5; */
  /* filter: blur(2px); */
  /* filter: brightness(.2); */
  /* filter: contrast(2); */
  /* filter: grayscale(1); */
  /* filter: hue-rotate(180deg); */
  /* filter: invert(.2); */
  /* filter: saturate(.2); */
  filter: sepia(.2);
  transition: width 2%, height 2s, trasnform 2s;
  transition-timing-function: linear;
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: ease-auto; */
  /* transition-timing-function: ease-in-auto; */
  /* transition-timing-function: ease; */
}

.polaroid img:hover {
  /* opacity: 1; */
  /* filter: blur(0); */
  /* filter: brightness(1); */
  /* filter: contrast(1); */
  /* filter: grayscale(.2); */
  /* filter: hue-rotate(360deg); */
  /* filter: invert(1); */
  /* filter: saturate(1); */
  filter: sepia(3);
}

div.polaroid:hover {
  /* transform: translate(50px, 100px); */
  /* transform: rotate(50deg); */
  /* transform: scale(2,2); */
  /* transform: scaleY(2); */
  /* transform: scaleX(2); */
  /* transform: skew(20deg); */
  width: 400px;
  height: 400px;
  transition: rotate(180deg);


}
.texto {
  text-align: center;
}

.imgtext {
  position: absolute;
  top: 8px;
  left: 30px;
  font-size: 18px;
}

/* .responsive {
  height: auto;
  max-width: 100%;
} */

/* .thumb {
  margin: 10px;
  border: 1px solid gray;
  width: 150px;
}

.thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0,140,186,.5);
  width: 200px;
} */

.title {
  /* width: 300px; */
  width: 50%;
  position: auto;
}

.container {
  position: relative;
  border: 1px solid red;
  height: 300px;
  /* padding: 10px 5px 10px 5px; */
  /* padding: 10px; */
  /* padding-top: 10px; */
  padding-top: 10%;
}