/* Error: The default namespace " list" is not a valid Sass identifier.
 * 
 * Recommendation: add an "as" clause to define an explicit namespace.
 *   ,
 * 2 | @use 'sass: list';
 *   | ^^^^^^^^^^^^^^^^^
 *   '
 *   sass/valores/_02-listas.scss 2:1  @use
 *   sass/valores/_valores.scss 2:1    @use
 *   sass/index.scss 10:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: The default namespace \" list\" is not a valid Sass identifier.\a\aRecommendation: add an \"as\" clause to define an explicit namespace.\a   \2577 \a 2 \2502  @use 'sass: list';\a   \2502  ^^^^^^^^^^^^^^^^^\a   \2575 \a   sass/valores/_02-listas.scss 2:1  @use\a   sass/valores/_valores.scss 2:1    @use\a   sass/index.scss 10:1              root stylesheet";
}
