* {
  box-sizing: border-box;
}

#canvas {
  border: 3px solid blue;
}

.camara {
  position: relative;
  display: inline-block;
  width: 300px;
  aspect-ratio: 9/16;
  overflow: hidden;
}

.camara canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: solid 1px red;
  background-color: white;
}
