/*
Charcoal: #264653
Persian Green: #2A9D8F
Orange Yellow Crayola: #E9C46A
Sandy Brown: #F4A261
Burnt Sierra: #E76F51

*/

/* Aqui va el comentario*/
html{
  font-family: 'Balsamiq Sans', cursive;
}

a{
  text-decoration: none;
  color: #d500f9;
}

a:hover{
  opacity: 0.8;
}

img{
  max-width: 100%;
}

a:focus{
  background: red;
}

.title{
  text-transform: uppercase;
  text-align: center;
}



.container{
  background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: white;
  /* box-shadow: diferencia horizontal diferencia vertical desenfoque amplitud color; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
  padding: 1.8em;
  overflow: scroll;
}
.content{
  padding: 1em;
}

.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}

.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius:50%;
  background-color:#E76F51;
  display:inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight:300;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
}

.paragraph{
  line-height: 1.8em;
  font-weight: 300;
}

.fa-star, .fa-star-o {
  color: #264653;
}

.table{
  width: 100%;
  border-spacing: 0;
}

.table td, .table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color: pink;
}

.title-item{
  /* border-bottom-style: solid;
  border-width: 2px;
  border-color: #C6426E;
  padding: 2em; */

  font-size: 2em;
  border-bottom: solid 2px #C6426E;
  padding-bottom: 1em;
}

.address{
  font-weight: bold;
  color: #642B73;
  font-size: 1.2em;
  margin-top: 2em;
  display: inline-flex;
}

.main-image{
  float: left;
  margin-right: 1em;
  height: 250px;
}

.position{
  background-color: #C6426E;
  color:white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
  /*
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em; */
}

@media(min-width:900px){
  th{
      display: table-cell;
  }
  td{
      width: auto;
      display: table-cell;
  }
  td:nth-last-of-type(1){
    font-size: 1em;
  }
    .content{
      padding: 1.8em;
    }
}

@media(max-width:600px){
  .content{
    padding: 1em;
  }
  td{
    display: block;
    width: 100%;
  }
  td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #642B73;
  }
  th{
    display: none;
  }
}

@@media (min-height:550px){
  .content{
    height: 500px;
  }
}
