@use '01-variables' as variables with (
  $primary: red  ,
  $secondary: black
) ;
@use '001-property' as property;
@use '02-interpolation' as interpolation;
@use '03-nestion' as nesting;
@use '03-01-nesting-selector' as nestiong-select;
@use '04-01-element' as element;

body {
  font-family: "Arial";
  color: variables.$primary;
}

h1 {
  color: variables.$primary;
}

.title {
  // use property
  color: var(--primary);
}

h2 {
  color: variables.$primary;
}