body {
  font-size: 100%;
}

h1 {
  background-color: hsla(50, 100%, 50%, .5);
  border-top-style: dashed;
  border: double #000 25px;
  border-radius: 25px;
  /* font-family: Arial; */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2.5em;  /* 40px / 16 **/

}

p {
  /* white-space: nowrap; */
  /* white-space: pre; */
  /* white-space: pre-line; */
  /* white-space: pre-wrap; */
  white-space: normal;
}