h1 {
  background-color: hsla(50,100%,50%,.5);
  /* border: solid red 10px; */
  border-top-style:  dashed;
  /* border-left-style:  dotted; */
  /* border-bottom-color: blue; */

  /* border-bottom: dotted blue 10px; */
  border: double #000 25px;
  /* border-radius: 20px; */
  border-radius: 25px;


}