@use "mixfun";

.contact {
  @include mixfun.container;
  display: flex;
  justify-content: center;
  gap: mixfun.pixeles-rem(40);
  position: relative;
  z-index: 10;

  @include mixfun.media{
    justify-content: flex-end;
  }

  &__link {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--img {
      width: 90px;
      height: 40px;
      color: #fff;
      background-color: #fff;
      border-radius: 25px;
    }
  }
}