:root {
  --font-headings: 'Open Sans', sans-serif;
  --font-main: 'Poppins', sans-serif;

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {

}