doctype html
html
  head
    title Tareas, ya se programar
  body
    form(action=`/tasks/${task.id}?_method=PUT` method="POST")
    input(type="text" name="categories" placeholder="ID de categorias separados por coma")
      textarea(name="description" placeholder="Coloca aqui el pendiente a realizar")= task.description
        input(type="submit" value="Guardar")
