doctype html
html
  head
    title Tareas, ya se programar
  body
    form(action="/tasks" method="POST")
      textarea(name="description" placeholder="Coloca aqui el pendiente a realizar")
        input(type="submit" value="Guardar")
