body {
  background-image: url('img/bg_12.jpg');
  background-repeat: no-repeat;
  background-color: black;
  /* background-position: right top; */
  /* background-position: center top; */
  background-position: 50% 50%;
  background-attachment: fixed;
  /* background-size: 50% 50%; */
  /* background-size: cover; */
  background-size: 100px 100px;
  /* gradient */
  /* background: linear-gradient(to right, gold, yellow, black,violet); */


}
.space {
  height: 600px;
}