h1, p {
  color: green;
  text-align: center;
}

.ejemplo {
  background-color: pink;
  height: 40px;
  text-align: center;
}

/* selector clase */
h2.ejemplo1 {
  color: green;
  height: 40px;
}

/* span h2, p {
  color: red;
  font-size: 30px;
} */

/* Selector id */

#colores {
  background-color: pink;
  color: violet;
  font-size: 2em
}

#orange {
  color: yellow;
}

#green {
  color: black;
}

#red {
  color: white;
}