* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  padding-bottom: 75px;
}

/* Navbar */
nav {
  background-color: #efefef;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%
}

nav ul {
  margin-right: 50px;
}

nav ul li {
  margin: 20px;
  float: right;
  display: inline;
}

li a {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

.logo_space {
  float: left;
  padding: 1em;
  width: 30%
}

.logo {
  font-size: 1.5em;
  text-decoration: none;
}

.iconNav {
  cursor: pointer;
  font-size: 1.5em;
  display: block;
  margin: 20px;
  float: right;
}
/* End */

.modal {
  /* display: none; */
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,.6);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation: zoom .5s;
}

.cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

div.polaroid {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 5px 0 25px 0;
  /* margin: auto; */
  margin-bottom: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  /* height: 250px;
  overflow: hidden; */

  /* display: block; */
}

img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.texto {
  /* position: absolute; 
  top: 200px; */
  text-align: center;
  /* background-color: white;
  width: 100%; */
}

@keyframes zoom {
  from{transform: scale(0);}
  to{transform: scale(1);}
}

/* @medias */
@media screen and (max-width: 480px) {
  /* mvil */
  nav ul li {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 760px) {

  nav ul li {
    display: none;
  }
  .logo_space {
    width: 80%;
  }
}

@media screen and (min-width: 761px) {
  /*  */
  div.polaroid {
    display: inline-block;
    margin-left: 6%;
  }
  img {
    width: 300px;
  }
  .iconNav {
    display: none;
  }
}