body {
  font-size: 100%;
}

h1 {
  background-color: hsla(50, 100%, 50%, .5);
  border-top-style: dashed;
  border: double #000 25px;
  border-radius: 25px;
  /* font-family: Arial; */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2.5em;  /* 40px / 16 **/
  text-align: center;
  color:chocolate;
  /* text-shadow: 2px 2px 2px black; */
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

.girl {
  border: double 10px red;
  border-radius: 50%;
}

.cody {
  position: relative;
  border-radius: 50px;
}

.golang {
  border: double 10px red;
  border-radius: 50%;
}

.responsive {
  height: auto;
  max-width: 100%;
}

/* .thumb {
  margin: 10px;
  border: 1px solid gray;
  width: 150px;
}

.thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0,140,186,.5);
  width: 200px;
} */

.title {
  /* width: 300px; */
  width: 50%;
  position: auto;
}

.container {
  position: relative;
  border: 1px solid red;
  height: 300px;
  /* padding: 10px 5px 10px 5px; */
  /* padding: 10px; */
  /* padding-top: 10px; */
  padding-top: 10%;
}