doctype html
html
  head
    title Tareas
  body
      
    form(action="/tasks" method="POST")
        textarea(name="description" placeholder="Qué pendiente vas a guardar")
        input(type="submit" value="Guardar")
